body {

    /* background-image: url(/img/beige-background.jpg); */
    background-color: rgb(255, 219, 128);

}

header {
    font-family: 'Oleo Script';
    text-align: center;
    margin: 8px;
    height: 120px;
    border: solid black 2px;
    /* background-image: url(/img/WoodBackground.jpg); */
    background-color: rgb(179, 97, 20);
    padding-bottom: 5px;
    padding-top: 3px;
    position: sticky;
    left: 0px;
    right: 0px;
    top: 0px;
}

header img {
    max-width: 150px;
    height: auto;
}

header h1 {
    font-size: xx-large;
    color: rgb(63, 34, 0);
    padding: 13px;
}

header h6 {
    display: block;
    font-size: small;
    font-style: oblique;
    font-family: 'Barlow Semi Condensed';
}

#family h4 {
    text-align: center;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

#family h4 span {
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

#family figure img {
    max-width: 450px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid rgba(94, 43, 1, 0.959);
}

#childCookies ul li {
    padding: 8px;
    margin-left: 8px;
    border-left: solid rgb(63, 34, 0);
    font-size: larger;
}

#child {

    /* background-image: url(/img/WoodBackground.jpg); */

    background-color: rgb(179, 97, 20);
    font-size: larger;
    padding-left: 8px;
    margin-top: 35px;
}

#cutter {
    width: 250px;
    height: 250px;
    float: left;
    padding: 7px;
}

#frooster {
    width: 250px;
    height: 250px;
    float: left;
    padding: 7px;
}

aside {

    background-color: rgb(179, 97, 20);
    width: 200px;
    height: 800px;
    float: left;
    margin-bottom: 5px;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

aside ul li {
    margin-top: 10px;
    padding-bottom: 7px;
    padding-left: 10px;
    border-left: rgb(19, 10, 0) solid;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

aside ul li a {
    text-decoration: none;
    color: rgb(70, 38, 3);
}

aside ul li span {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

footer {
    clear: both;

    background-color: rgb(179, 97, 20);
    text-align: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

footer ul li {
    text-align: right;
    padding: 3px;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

footer p {
    float: left;
    font-size: small;
    padding-bottom: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

header a {
    text-decoration: none;
    color: rgb(15, 9, 0);
    font-size: large;
    float: right;
    position: relative;
    bottom: 40px;
    right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

aside ul li a:hover,
a:active {
    font-size: 90%;
    background-color: rgb(201, 172, 109);
}

header ul li a:hover {
    background-color: rgb(201, 172, 109);
}

#family a:active {
    font-size: 60%;
    background-color: rgb(201, 172, 109);

